body {
  background-image: url('/src/assets/bgPattern.png');
}

.window {
  color: black;
}

.window-body, button {
  font-family: "Comic Sans MS";
}

.upload-button {
  font-size: 14pt;
  height: 38px;
  margin-bottom: 8px;
  margin-top: auto;
}

#drop_zone {
  border: 3px dashed rgb(13, 13, 13);
  width:  80%;
  height: 100px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable thead {
    background: rgb(29, 74, 129);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

